<div>
  <h1 class="title">Stupid coaching</h1>

  <div>
    <h2><%= @ask %></h2>
    <h3><em>- You</em></h3>
  </div>

  <div class="answer">
    <h2><%= @answer %></h2>
    <h3><em>- Coach</em></h3>
  </div>

  <%= link_to "Ask another question?", ask_path %>

</div>
