// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  padding-left: 20px;
}

h2, h3 {
  padding-left: 40px;
  color: rgb(62, 62, 62);
}

a {
  text-decoration: none;
  color: blue;
}

.answer {
  background-color: rgb(249, 249, 176);
}
